@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
}

#container1 {
    background-color: grey;

    .bkgd {
        height: 128px;
    }

    #multi-bkgd {
        background-image: url("../images/boxes.svg"), url("../images/gradients.svg");
        background-position: right bottom, left top;
        background-repeat: no-repeat, repeat;
    }

    #bkgd-size {
        background-image: url("../images/boxes.svg");
        background-repeat: no-repeat;
        background-size: 64px 64px;
        background-color: deepskyblue;
    }

    #large-imgs {
        display: flex;
        width: 100%;
        height: 400px;
        background-color: tomato;

        section {
            width: 50%;
            height: 100%;
        }

        #large-imgs-1 {
            background-image: url("../images/boxes.svg");
            background-repeat: no-repeat;
            background-size: contain;
        }

        #large-imgs-2 {
            background-image: url("../images/boxes.svg");
            background-repeat: no-repeat;
            background-size: cover;
        }

        /*
        contain = fitting the image to parents size
        cover = covering whole thing
        */
    }
}

#container2 {
    // width: 100vw;
    // height: 100vh;
    background-color: grey;
    background-image: url("../images/technology.jpeg");
    background-size: cover;
    position: relative;

    h1 {
        font-size: 5em;
        text-transform: uppercase;
        color: red;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        // text-align: center;

    }
}

#container3 {
    background-image: linear-gradient(45deg, red, orange, yellow, green, violet);
}

#container4 {
    background-image: radial-gradient(circle, red, orange, yellow, green, violet);
}

#container5 {
    .gallery {
        float: left;
        width: calc(100vw/4);
        padding: 1em;

        a {
            img {
                width: 80%;
                height: auto;
            }
        }
    }
}

#container6 {
    background-color: black;
    position: relative;

    footer {
        width: 100%;
        height: 100px;
        background-color: blanchedalmond;
        position: absolute;
        bottom: 0;

        ul {
            display: flex;
            list-style-type: none;

            li {
                width: 100px;
                height: 100px;

                a {
                    width: 100px;
                    height: 100px;
                    display: block;
                    //block needed otherwise content won't show
                    transition: all 200ms linear;
                }
                //use pngs not svgs
                a#gitHub {
                    background: url("../images/blue_media_icons.png") 0px 0px;
                }

                #linked {
                    background: url("../images/blue_media_icons.png") 100px 0px;
                }

                #twitter {
                    background: url("../images/blue_media_icons.png") 200px 0px;
                }

                #faceBook {
                    background: url("../images/blue_media_icons.png") 300px 0px;
                }
            }

            //hover state
            #gitHub:hover {
                background: url("../images/grey_media_icons.png") 0px 0px;
            }
            #linked:hover {
                background: url("../images/grey_media_icons.png") 100px 0px;
            }
            #twitter:hover {
                background: url("../images/grey_media_icons.png") 200px 0px;
            }
            #faceBook:hover {
                background: url("../images/grey_media_icons.png") 300px 0px;
            }

        }

        // li:nth-child(1) {
        //     background-image: url("../images/blue_media_icons.svg");
        //     background-color:green;

        // }
    }
}

#container7 {
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(black, #00e7a0);
    section {
        display: flex;
        width: 80%;
        // height: 320px;
        // background-image: linear-gradient(#00e7a0, black);
        figure {
            padding: 0.5em;
            background-color: white;
            display: inline-block;
            margin: 0 0.5em;
            width: 25%;
            border-radius: 1em;
            transition: all 200ms ease-in-out;
            img {
                width: 100%;
                border-radius: 15px 15px 0 0;
            }
            figcaption {
                background-color: white;
                font-size: 0.75em;
                padding: 0.5em;
            }
        }
        figure:hover {
            box-shadow: 10px 10px 10px black;
            transform: scale(1.2);
            border: 0.2em solid tomato;
        }
    }
}


// }