@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap");
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

$color1: rgb(129,113,6);
$color2: rgb(101,101,101);
$color3: rgb(22,16,56);
$color4: rgb(54,40,129);
$color5: rgb(56,51,16);
$color6: rgb(255,255,255);

#container {
    width: 100%;
    height: 100vh;
    background-color: $color3;
    position: relative;
    nav {
        //display flex stacks everything in one line
        display: flex;
        padding: 1em;
        align-items: center;
        h1 {
            text-transform: uppercase;
            span#creative {
                color: $color1;
            }
            span#web {
                color: $color6;
                font-size: 1.5em;
                margin-left: 0.25em;
            }
        }
        ul {
            display: flex;
            list-style: none;
            margin-left: auto;
            // added margin-right
            // margin-right: 5%;
            li {
                //for padding the first number is top and bottom, next is left and right
                padding: 0 1em;
                a {
                    text-decoration: none;
                    color: $color6;
                    text-transform: uppercase;
                    font-size: 1.5em;
                }
            }
        }
    }
} //container and nav stuff ends here

main {
    .column {
        float: left;
        width: 50%;
    }

    .row:after {
        content:"";
        display: table;
        clear: both;
    }
    position: relative;
    div#rightSide {
        height: 79vh;
        // width: 47.5%;
        // margin-left: 50%;
        // height: 100vh;
        // width: 100%;
        color: $color6;
        border: 0.85mm solid $color6;
        border-style: solid none;
        // border-bottom: none;
        }
        // border-top: dashed;
        // testing individual border styles
        // use SVG line instead?
        img {
            position: relative;
            z-index: 2;
            width: 105%;
            margin-left: -2.5%;
            height: 64vh;
            padding: 1em;
            // float: left;
            // scale: 103%;
        }
        #sectSynop {
            position: absolute;
            z-index: 0;
            margin-top: 2em;
            width: 50%;
        }
        h4 {
            //you loose the top border this way, make ajustments?
            // height: 50%;
            // position: relative;
            // z-index: 0;
            margin-top: -2.2em;
            margin-right: 2em;
            font-size: x-large;
            color: $color1;
            background-color: $color6;
        }
        p {
            // position: relative;
            margin-right: 3em;
            background-color: $color6;
            color: $color3;
            font-weight: 700;
        }
        #circ1 {
            //absolute position can overlap
            position: absolute;
            z-index: 1;
            float: left;
            margin-left: -7%;
            margin-top: -2em;
            // margin-top: -4%;
            padding: 0%;
            // display: flex;
            // padding: 1em;
            // align-items: auto;
            height: 15em;
            width: 15em;
            border-radius: 55%;
            background-color: $color1;
        }
} //rightSide div ends here

div#leftSide {
    height: 79vh;
    width: 47.5%;
    // margin-left: 50%;
    // height: 100vh;
    // width: 100%;
    color: $color6;
    border: 0.85mm solid $color6;
    border-style: solid none;
    border-top: none;

    .word {
        position: absolute;
        z-index: 1;
        height: 1px;
        color: $color1;
        margin-left: 1em;
        margin-top: 2em;
        font-size: 60px;
    }
    .square {
        position: relative;
        width: 250px;
        height: 40px;
        background-color: $color6;
        margin-left: 5em;
        margin-top: 6em;
    }
    #white {
        position: fixed;
        width: 350px;
        height: 350px;
        z-index: 0;
        margin-top: 10em;
    }
    #grey {
        background-color: $color2;
        margin-top: 14em;
    }
    #darkYell {

        background-color: $color5;
        margin-top: 118px;
        margin-left: 180px;
    }
    #create {
        margin-top: 1px;
    }
    #asthe {
        margin-top: 1px;
    } //leftSide ends here
    }

footer {
    height: 100px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: $color4;
    span.copy {
        display:flex;
        justify-content: left;
        font-size: 2em;
        color: $color1;
        margin-left: 100px;
    }
    span.info {
        display:block;
        justify-content: center;
        font-size: large;
        margin-left: 30em;
        margin-top: -2em;
        color: $color6
        }
}