@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap");
* {
  padding: 0%;
  margin: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

#container {
  width: 100%;
  height: 100vh;
  background-color: #161038;
  position: relative;
}

#container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container nav h1 {
  text-transform: uppercase;
}

#container nav h1 span#creative {
  color: #817106;
}

#container nav h1 span#web {
  color: white;
  font-size: 1.5em;
  margin-left: 0.25em;
}

#container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-left: auto;
}

#container nav ul li {
  padding: 0 1em;
}

#container nav ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 1.5em;
}

main {
  position: relative;
}

main .column {
  float: left;
  width: 50%;
}

main .row:after {
  content: "";
  display: table;
  clear: both;
}

main div#rightSide {
  height: 79vh;
  color: white;
  border: 0.85mm solid white;
  border-style: solid none;
}

main img {
  position: relative;
  z-index: 2;
  width: 105%;
  margin-left: -2.5%;
  height: 64vh;
  padding: 1em;
}

main #sectSynop {
  position: absolute;
  z-index: 0;
  margin-top: 2em;
  width: 50%;
}

main h4 {
  margin-top: -2.2em;
  margin-right: 2em;
  font-size: x-large;
  color: #817106;
  background-color: white;
}

main p {
  margin-right: 3em;
  background-color: white;
  color: #161038;
  font-weight: 700;
}

main #circ1 {
  position: absolute;
  z-index: 1;
  float: left;
  margin-left: -7%;
  margin-top: -2em;
  padding: 0%;
  height: 15em;
  width: 15em;
  border-radius: 55%;
  background-color: #817106;
}

div#leftSide {
  height: 79vh;
  width: 47.5%;
  color: white;
  border: 0.85mm solid white;
  border-style: solid none;
  border-top: none;
}

div#leftSide .word {
  position: absolute;
  z-index: 1;
  height: 1px;
  color: #817106;
  margin-left: 1em;
  margin-top: 2em;
  font-size: 60px;
}

div#leftSide .square {
  position: relative;
  width: 250px;
  height: 40px;
  background-color: white;
  margin-left: 5em;
  margin-top: 6em;
}

div#leftSide #white {
  position: fixed;
  width: 350px;
  height: 350px;
  z-index: 0;
  margin-top: 10em;
}

div#leftSide #grey {
  background-color: #656565;
  margin-top: 14em;
}

div#leftSide #darkYell {
  background-color: #383310;
  margin-top: 118px;
  margin-left: 180px;
}

div#leftSide #create {
  margin-top: 1px;
}

div#leftSide #asthe {
  margin-top: 1px;
}

footer {
  height: 100px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #362881;
}

footer span.copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  font-size: 2em;
  color: #817106;
  margin-left: 100px;
}

footer span.info {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: large;
  margin-left: 30em;
  margin-top: -2em;
  color: white;
}

footer span.faceBook {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 3em;
  height: 10px;
  margin-left: 104em;
  margin-top: -3em;
  fill: white;
}

footer span.twitter {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 3em;
  height: 10px;
  margin-left: 108em;
  margin-top: -0.5em;
  fill: white;
}

footer span.linkedIn {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 3em;
  height: 10px;
  margin-left: 112em;
  margin-top: -1em;
  fill: white;
}
/*# sourceMappingURL=style.css.map */